Repository RGrabichler/AxisIaiLib: changes, and which pre-commit hooks are due for each by the changed paths.
All: stweep, CSharpier

stweep:
  name: Format twincat files with stweep
  entry: STweep.CLI format --settingsFile "settings.STweep" --path
  language: system

CSharpier:
  name: Format C# files
  entry: dotnet csharpier
  language: system

Update README.md
  README.md
Due: none

running at least
  AxisIaiLib/AxisIaiLib.sln
  AxisIaiLib/AxisIaiLib/AxisIaiLib.tsproj
  AxisIaiLib/AxisIaiLib/AxisIaiLib/AxisIaiLib.plcproj
  AxisIaiLib/AxisIaiLib/AxisIaiLib/Context/MainStation.TcPOU
  AxisIaiLib/AxisIaiLib/AxisIaiLib/Context/PRG_TEST.TcPOU
  AxisIaiLib/AxisIaiLib/AxisIaiLib/Context/TcUnitContext.TcPOU
  AxisIaiLib/AxisIaiLib/AxisIaiLibExample/AxisIaiLibExample.plcproj
  AxisIaiLib/AxisIaiLib/AxisIaiLibExample/POUs/AppContext.TcPOU
  AxisIaiLib/AxisIaiLib/AxisIaiLibExample/POUs/MAIN.TcPOU
  AxisIaiLib/AxisIaiLib/AxisIaiLibExample/POUs/MainStation.TcPOU
  AxisIaiLib/AxisIaiLib/AxisIaiLibExample/PlcTask.TcTTO
  AxisIaiLib/AxisIaiLib/PLC/PLC.plcproj
  AxisIaiLib/AxisIaiLib/_Config/PLC/AxisIaiLib.xti
  AxisIaiLib/AxisIaiLibConnector/AxisIaiLibConnector.csproj
  AxisIaiLib/AxisIaiLibConnector/Entry.cs
  AxisIaiLib/AxisIaiLibConnector/Properties/Localizations.Designer.cs
  AxisIaiLib/AxisIaiLibConnector/Properties/Localizations.resx
  AxisIaiLib/AxisIaiLibExample/AxisIaiLibExampleConnector.csproj
  AxisIaiLib/AxisIaiLibExample/Entry.cs
  AxisIaiLib/AxisIaiLibExample/Properties/Localizations.Designer.cs
  AxisIaiLib/AxisIaiLibExample/Properties/Localizations.resx
  AxisIaiLib/BlazorHmi/BlazorHmi.csproj
  AxisIaiLib/BlazorHmi/Pages/Error.cshtml.cs
  AxisIaiLib/BlazorHmi/Pages/Index.razor
  AxisIaiLib/BlazorHmi/Pages/Messages.razor
  AxisIaiLib/BlazorHmi/Pages/_Host.cshtml
  AxisIaiLib/BlazorHmi/Program.cs
  AxisIaiLib/BlazorHmi/Properties/launchSettings.json
  AxisIaiLib/BlazorHmi/Shared/NavMenu.razor
  AxisIaiLib/BlazorHmi/Startup.cs
  AxisIaiLib/BlazorHmi/_Imports.razor
  AxisIaiLib/PLCConnector/Entry.cs
  global.json
Due: stweep, CSharpier

running at least
  AxisIaiLib/AxisIaiLib/AxisIaiLib.tsproj
  AxisIaiLib/AxisIaiLib/AxisIaiLib/AxisIaiLib.plcproj
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/AxisLimits.TcDUT
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/Enum/E_AccelMode.TcDUT
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/Enum/E_RMod.TcDUT
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/Enum/E_StopMode.TcDUT
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/Enum/eSetPositionMode.TcDUT
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/IAIAxisStatus.TcDUT
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/IOAxis.TcDUT
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/In/Gateway/GatewayStatus.TcDUT
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/In/Gateway/StatusSignal0.TcDUT
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/In/Gateway/StatusSignal1.TcDUT
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/In/PlcIn.TcDUT
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/In/StatusIn.TcDUT
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/Interfaces/iSuperActuator.TcIO
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/Out/ControlOut.TcDUT
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/Out/Gateway/ControlSignal0.TcDUT
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/Out/Gateway/ControlSignal1.TcDUT
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/Out/Gateway/GatewayControl.TcDUT
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Data types/Out/PlcOut.TcDUT
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Global Variables/AxisStats.TcGVL
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/Global Variables/AxisStatsGlobal.TcGVL
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/IAI_Drive/TcoAxis/AxisIAI.TcPOU
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/IAI_Drive/TcoAxis/AxisTasks/ResetTask.TcPOU
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/IAI_Drive/TcoAxis/AxisTasks/SetPositionTask.TcPOU
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/IAI_Drive/TcoAxis/IAxisIAI.TcIO
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/IAI_Drive/TcoAxis/MotionTasks/HaltTask.TcPOU
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/IAI_Drive/TcoAxis/MotionTasks/HomeTask.TcPOU
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/IAI_Drive/TcoAxis/MotionTasks/MoveAbsoluteTask.TcPOU
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/IAI_Drive/TcoAxis/MotionTasks/MoveRelativeTask.TcPOU
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/IAI_Drive/TcoAxis/MotionTasks/StopTask.TcPOU
  AxisIaiLib/AxisIaiLib/AxisIaiLib/IAI/IAI_Drive/TcoAxis/Power.TcPOU
  AxisIaiLib/AxisIaiLib/AxisIaiLibExample/AxisIaiLibExample.plcproj
  AxisIaiLib/AxisIaiLib/AxisIaiLibExample/POUs/MainStation.TcPOU
  AxisIaiLib/AxisIaiLib/_Config/PLC/AxisIaiLib.xti
  AxisIaiLib/AxisIaiLibConnector/Properties/Localizations.resx
Due: stweep

mhh
  AxisIaiLib/.dockerignore
  AxisIaiLib/AxisIaiLib/AxisIaiLib.tsproj
  AxisIaiLib/AxisIaiLib/_Config/PLC/AxisIaiLib.xti
  AxisIaiLib/AxisIaiLibConnector/Entry.cs
  AxisIaiLib/AxisIaiLibExample/Entry.cs
  AxisIaiLib/BlazorHmi/Pages/Index.razor
  AxisIaiLib/Dockerfile
Due: CSharpier

tests with Docker, running, but problems with Connection to Plc
  AxisIaiLib/AxisIaiLib/AxisIaiLib.tsproj
  AxisIaiLib/AxisIaiLibConnector/AxisIaiLibConnector.csproj
  AxisIaiLib/AxisIaiLibExample/AxisIaiLibExampleConnector.csproj
  AxisIaiLib/BlazorHmi/.config/dotnet-tools.json
  AxisIaiLib/BlazorHmi/BlazorHmi.csproj
  AxisIaiLib/BlazorHmi/Program.cs
  AxisIaiLib/BlazorHmi/Properties/PublishProfiles/FolderProfile.pubxml
  AxisIaiLib/BlazorHmi/Startup.cs
  AxisIaiLib/Dockerfile
  AxisIaiLib/NuGet.Config
  AxisIaiLib/docker-compose.yml
  AxisIaiLib/local_nuget/packages/blazm.components/1.0.5/.nupkg.metadata
  AxisIaiLib/local_nuget/packages/blazm.components/1.0.5/.signature.p7s
  AxisIaiLib/local_nuget/packages/blazm.components/1.0.5/blazm.components.1.0.5.nupkg
  AxisIaiLib/local_nuget/packages/blazm.components/1.0.5/blazm.components.1.0.5.nupkg.sha512
  AxisIaiLib/local_nuget/packages/blazm.components/1.0.5/blazm.components.nuspec
  AxisIaiLib/local_nuget/packages/blazm.components/1.0.5/buildMultiTargeting/Blazm.Components.props
  AxisIaiLib/local_nuget/packages/blazm.components/1.0.5/buildTransitive/Blazm.Components.props
  AxisIaiLib/local_nuget/packages/blazm.components/1.0.5/lib/net5.0/Blazm.Components.dll
  AxisIaiLib/local_nuget/packages/blazm.components/1.0.5/staticwebassets/Scripts/OpenInNewWindow.js
  AxisIaiLib/local_nuget/packages/blazm.components/1.0.5/staticwebassets/Scripts/ResizeTable.js
  AxisIaiLib/local_nuget/packages/blazm.components/1.0.5/staticwebassets/Scripts/SaveAsFile.js
  AxisIaiLib/local_nuget/packages/blazm.components/1.0.5/staticwebassets/css/Styles.css
  AxisIaiLib/local_nuget/packages/blazm.components/1.0.5/staticwebassets/css/Styles.min.css
  AxisIaiLib/local_nuget/packages/blazm.components/1.1.7/.nupkg.metadata
  AxisIaiLib/local_nuget/packages/blazm.components/1.1.7/.signature.p7s
  AxisIaiLib/local_nuget/packages/blazm.components/1.1.7/blazm.components.1.1.7.nupkg
  AxisIaiLib/local_nuget/packages/blazm.components/1.1.7/blazm.components.1.1.7.nupkg.sha512
  AxisIaiLib/local_nuget/packages/blazm.components/1.1.7/blazm.components.nuspec
  AxisIaiLib/local_nuget/packages/blazm.components/1.1.7/buildMultiTargeting/Blazm.Components.props
  AxisIaiLib/local_nuget/packages/blazm.components/1.1.7/buildTransitive/Blazm.Components.props
  AxisIaiLib/local_nuget/packages/blazm.components/1.1.7/lib/net6.0/Blazm.Components.dll
  AxisIaiLib/local_nuget/packages/blazm.components/1.1.7/staticwebassets/Blazm.Components.bundle.scp.css
  AxisIaiLib/local_nuget/packages/blazm.components/1.1.7/staticwebassets/Scripts/OpenInNewWindow.js
  AxisIaiLib/local_nuget/packages/blazm.components/1.1.7/staticwebassets/Scripts/ResizeTable.js
  AxisIaiLib/local_nuget/packages/blazm.components/1.1.7/staticwebassets/Scripts/SaveAsFile.js
Due: CSharpier

UmRT
  AxisIaiLib/AxisIaiLib/AxisIaiLib.tsproj
  AxisIaiLib/AxisIaiLib/_Config/PLC/AxisIaiLib.xti
  AxisIaiLib/AxisIaiLibConnector/Entry.cs
  AxisIaiLib/AxisIaiLibExample/Entry.cs
Due: CSharpier

commited, because i do not know better
  AxisIaiLib/AxisIaiLib/AxisIaiLib.tsproj
  AxisIaiLib/AxisIaiLib/AxisIaiLib/LineIDs.dbg.bak
  AxisIaiLib/AxisIaiLib/AxisIaiLibExample/LineIDs.dbg.bak
  AxisIaiLib/AxisIaiLib/_Config/PLC/AxisIaiLib.xti
  AxisIaiLib/BlazorHmi/Program.cs
  AxisIaiLib/docker-compose.yml
Due: CSharpier

wip
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/ATS400_ETL/FunctionBlocks/SelectProgramTask.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Cylinders/Zylinder/CylCustom.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Cylinders/Zylinder/CylCustomMoveTask.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Engel Ethercat Bridge Communication/FunctionBlocks/IHeartBeat.TcIO
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/SignalLights MachineStatus/DUTs/ColorsSignalLightMachineModes.TcDUT
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/SignalLights MachineStatus/DUTs/ColorsSignalLightsStatus.TcDUT
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/SignalLights MachineStatus/DUTs/eMachineModes.TcDUT
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/SignalLights MachineStatus/DUTs/eMachineStatus.TcDUT
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/SignalLights MachineStatus/ITFs/ISignalLightsController.TcIO
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/SignalLights MachineStatus/POUs/SignalLightsController.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/PlcTask.TcTTO
  StandardLibGema/StandardLibGema/StandardLibGema/Project Information/F_GetVersion.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/StandardLibGema.plcproj
  StandardLibGema/StandardLibGema/StandardLibGema/Test/0 Context/PRG_TEST.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/Test/0 Context/TcUnitContext.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/Test/0 Context/TestStation.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/Test/Ats400_Etl_Tests/OutputAts400_Test.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/Test/SignalLights MachineStatus Tests/SignalLightsController_Test.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/Version/Global_Version.TcGVL
  StandardLibGema/StandardLibGema/_Config/PLC/StandardLibGema.xti
  StandardLibGema/StandardLibGemaConnector/Properties/Localizations.resx
  StandardLibGema/StandardLibGemaConnector/StandardLibGemaConnector.csproj
Due: stweep

Signallights gebaut
  StandardLibGema/.config/dotnet-tools.json
  StandardLibGema/BlazorHmi/BlazorHmi.csproj
  StandardLibGema/StandardLibGema.sln
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/SignalLights MachineStatus/DUTs/eMachineStatus.TcDUT
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/SignalLights MachineStatus/ITFs/ISignalLightsController.TcIO
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/SignalLights MachineStatus/POUs/SignalLightsController.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Utilities/Blinker.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/StandardLibGema.plcproj
  StandardLibGema/StandardLibGema/StandardLibGema/Test/0 Context/TestStation.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/Test/BlinkerTest/Blinker_Test.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/Test/SignalLights MachineStatus Tests/SignalLightsController_Test.TcPOU
  StandardLibGema/StandardLibGema/_Config/PLC/StandardLibGema.xti
  StandardLibGema/StandardLibGemaConnector/Properties/Localizations.Designer.cs
  StandardLibGema/StandardLibGemaConnector/StandardLibGemaConnector - Backup (1).csproj
  StandardLibGema/StandardLibGemaConnector/StandardLibGemaConnector - Backup (2).csproj
  StandardLibGema/StandardLibGemaConnector/StandardLibGemaConnector - Backup (3).csproj
  StandardLibGema/StandardLibGemaConnector/StandardLibGemaConnector - Backup.csproj
Due: stweep

global
  .pre-commit-config.yaml
Due: none

einfachern Counter added
  StandardLibGema/StandardLibGema.sln
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Counter Allgemein/Counter.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Counter Allgemein/ICounter.TcIO
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Counter Allgemein/StatusCounter.TcDUT
  StandardLibGema/StandardLibGema/StandardLibGema/StandardLibGema.plcproj
  StandardLibGema/StandardLibGema/StandardLibGema/Test/0 Context/TestStation.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/Test/CounterAllgemeinTests/Counter_Test.TcPOU
  StandardLibGema/StandardLibGema/_Config/PLC/StandardLibGema.xti
Due: stweep

added Robo Comm
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Communication Extern/DUTs/E_ConnectionStepsTcp.TcDUT
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Communication Extern/DUTs/InCommunicationRobOmron.TcDUT
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Communication Extern/DUTs/OutCommunicationRobOmron.TcDUT
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Communication Extern/DUTs/stTelegrammOmronTcp.TcDUT
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Communication Extern/DUTs/uTelegrammOmronTcp.TcDUT
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Communication Extern/FunctionBlocks/CommunicationRoboterOmron.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Communication Extern/FunctionBlocks/TcpIpCommSeq.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Communication Extern/Interfaces/ICommSeq.TcIO
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Communication Extern/Interfaces/ICommunicationRoboterOmron.TcIO
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Cylinders/TcoCylinder.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Cylinders/TcoDoubleCylinder.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/POUs/Engel Ethercat Bridge Communication/FunctionBlocks/EngelOutput.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/StandardLibGema.noprjfile
  StandardLibGema/StandardLibGema/StandardLibGema/StandardLibGema.plcproj
  StandardLibGema/StandardLibGema/StandardLibGema/Test/0 Context/TestStation.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/Test/CommunicationExtern Tests/CommunicationRoboterOmron_Test.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/Test/Engel Ethercat Bridge Comm Tests/EngelInput_Test.TcPOU
  StandardLibGema/StandardLibGema/StandardLibGema/Test/Engel Ethercat Bridge Comm Tests/EngelOutput_Test.TcPOU
  StandardLibGema/StandardLibGema/_Config/PLC/StandardLibGema.xti
Due: stweep

Merge, schwierige Geburt
  test.txt
Due: none

Path conditions:
  stweep: any of: .*\.(TcPOU|TcDUT|TcTTO|TcGVL), but not: .*\.(resx|Designer.cs|xti|tcscopex|tsproj)
  CSharpier: any of: .*\.(cs$), but not: .*\.(resx|Designer.cs|xti|tcscopex|tsproj)
